
    <div class="dialog1">
        <div class="dialog">
            <div class="dialog-select">
                <label>Type</label>
                <select>
                    <option>People</option>
                    <option>Grain</option>
                    <option>Sheep</option>
                    <option>Lumber</option>
                    <option>Water</option>
                </select>
            </div>
            <div class="benefits">
                <label>
                    Benefit
                </label>
                <div>
                    5 People
                </div>
            </div>
            <div class="costs">
                <label>Cost</label>
                <ul>
                    <li>5 Lumber</li>
                    <li>5 Water</li>
                    <li>5 Grain</li>
                    <li>1 Sheep</li>
                </ul>
            </div>
            <div class="button-row">
                <div>
                    <button>Cancel</button>
                </div>
                <div>
                    <button>Add</button>
                </div>
            </div>
        </div>
    </div>